* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: monospace;
  background: #1e1e1e;
  color: #d4d4d4;
}

.container {
  display: flex;
  height: 100%;
}

.editor,
.preview {
  width: 50%;
  padding: 10px;
}

.editor {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #333;
}

textarea {
  flex: 1;
  background: #1e1e1e;
  color: #d4d4d4;
  border: none;
  resize: none;
  outline: none;
  font-family: monospace;
  font-size: 14px;
  padding: 10px;
}

button {
  margin-top: 10px;
  padding: 8px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #444;
}

.preview {
  background: #111;
}

#console {
  height: 100%;
  overflow-y: auto;
}

.log {
  color: #9cdcfe;
}

.error {
  color: #f44747;
}

.variable {
  color: #ce9178;
}
